*.DS_Store

.ipynb_checkpoints/
/reference/PerfectGuide/

/이전수업자료/
__pycache__/


/home/hb/python/2022Lab/code/Lab18_Neural_Network/ConsDeepSignaling_/
/home/hb/python/2022Lab/code/Lab18_Neural_Network/ConsDeepSignaling/